{% extends 'base.html' %}
{% block style %}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  #myInput:focus {outline: 3px solid #ddd;}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  {% comment %} use here {% endcomment %}
  .dropdown button:hover {background-color: #ddd;} 
  {% comment %} use here {% endcomment %}
  .show {display: block;}
  .hidden{
    display:none;
  }
{% endblock style %}

{% block title %}
    Account
{% endblock title %}

{% block content %}
<!--  on the  bootstrap page we have List group which we could use for our History page -->
<h3>
  Username - <b>{{customer.username}}</b>
</h3>
<h3>
  Name - <b>{{customer.first_name}}</b>
</h3>
<br>
<script>
  sessionStorage.clear();
</script>
  <h4>Current Money   - <span>{{amount}}</span></h4> 
  {% comment %} <button class="btn btn-primary"> {% endcomment %}

    <a href="{% url 'add_money' customer.username %}" style="text-decoration:none ,color: white "> 
      ADD MONEY
    </a>
  {% comment %} </button> {% endcomment %}
<h2>
  You Can Add the Reciepts Here
</h2>



<div class="container-fluid">
  <div class="row">
      <div class="col-lg-6">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Products</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            {% for product in Products %}
              <button style="border:none" onclick="myFunc({{product.name}})" id="{{product.name}}">{{product.name}}</button>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" max="50" value=1>
        <button onclick="showReciept()">Show Button</button>
      </div>
  </div>
</div>
    <ul id="reciept">
    </ul>
      <form method="post" action="/accountHolders/{{customer.username}}">
        {% csrf_token %}
        <div class="form-group">
        <div class="form-row">
          <div class="col">
            <input type="text" style="display:none" name = "username" class="form-control" value="{{customer.username}} ">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" style="display:none" name = "firstname" class="form-control" value="{{customer.first_name}} ">
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <input id="data" style="display:none" type="text" name = "data" class="form-control" value="">
                  </div>
      <br>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <h1>Receipt History</h1>
  <a href="{% url 'history' customer.username %}">History</a>
  <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("button");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
    const myFunc = (val) => {
      var quantity = document.getElementById('quantity').value;
      if(sessionStorage.getItem(val.innerText)!==null){
        var temp = parseInt(sessionStorage.getItem(val.innerText));
        temp = temp + parseInt(quantity);
        sessionStorage.setItem(val.innerText,temp);
      }else{
        sessionStorage.setItem(val.innerText,quantity);
      }
    }

    function showReciept(){
      document.getElementById('reciept').innerHTML = '';
      document.getElementById("data").value = "";
      //data = "";
        reciept = document.getElementById('reciept');

        var ul = document.getElementById("reciept");
        for(i = 0; i<sessionStorage.length; i++){
          var li = document.createElement("li");
          li.innerText = sessionStorage.key(i);
          li.innerText += " :";
          li.innerText += sessionStorage.getItem(sessionStorage.key(i));
          //console.log(typeof(sessionStorage.key(i)));
          document.getElementById("data").value+= sessionStorage.key(i);
          document.getElementById("data").value+= '-';
          document.getElementById("data").value+= sessionStorage.getItem(sessionStorage.key(i));
          document.getElementById("data").value+=',';
          ul.append(li);
        }
        
        //document.getElementById("data").value+= "hello";
    }
    </script>

  {% endblock content %}
  

  
  
  
  
  
{% comment %}   
  product selected would be the one i click then i would have to choose the amount initially the amount would be
  1 but could be customised if the owner wants to do so {% endcomment %}
  
  {% comment %} 
  I want a page which would let us add money if someone pays us the money
  
  {% endcomment %}
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  {% comment %} {% for Rec in Receipts %}
    {% if Rec.username == customer.username %}
        {{Rec.prod_name}}
    {% endif %}
    {{cus}}
  {% endfor %} {% endcomment %}

  {% comment %} {% if not Receipt %}
  <h2>No History available</h2>
  {% else %}
  {% for Rec in Receipt %}
      <li>{{Rec.prod_name}}</li>
  {% endfor %}
  {% endif %} {% endcomment %}