{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><h3> Username - <b>{{user.username}}</b> </h3></label>
      <input type="hidden" name = "username" class="form-control" value="{{user.username}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><h3> Name - <b> {{user.first_name}} {{user.last_name}} </b> </h3></label>
      <input type="hidden" name="fname" class="form-control" value="{{user.first_name}} {{user.last_name}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your Information with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Subject</label>
      <input type="text" name="subject" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea name="message" class="form-control" cols="30" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
You must register and login first
{% endif %}
{% endblock content %}
