{% extends 'base.html' %}


{% block content %}
    <h1>Products</h1>
    <div class="container">
        <ul>    
            {% for item in product_menu_list %}
            {% comment %} <li><a class="dropdown-item" href="{% url 'product' item %}">{{item}}</a></li> {% endcomment %}
            <h1>{{item}}</h1>
            <li>{{item.description}}</li>
            <li>{{item.price}}</li>
            {% comment %} {{item.id}} {% endcomment %}
            <a href="product_display/{{item.id}}">Hello</a>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
